<%= devise_error_messages! %>
<%= render "layouts/navbar-small" %>

<div class="form">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <div class="u-text-centered u-margin-bottom-small">
    <h2 class="form__title">Edit <%= resource_name.to_s.humanize %></h2>
  </div>

  <div class="form__field half-field--right">
    <%= f.label :first_name, class:"form__subtitle" %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "off",class:"form__input"%>
  </div>

   <div class="form__field half-field--left">
    <%= f.label :last_name,class:"form__subtitle" %><br />
    <%= f.text_field :last_name, autocomplete: "off", class:"form__input"%>
  </div>

  <div class="form__field">
    <%= f.label :email,class:"form__subtitle" %><br />
    <%= f.email_field :email, autocomplete: "email", class:"form__input"%>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

   <div class="form__field">
    <%= f.label :current_password, class:"form__subtitle" %> 
    <%= f.password_field :current_password, autocomplete: "current-password",class:"form__input" %>
  </div>

  <div class="form__field half-field--right">
    <%= f.label :New_password, class:"form__subtitle" %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"form__input" %>
    <% if @minimum_password_length %>
      <br />
      <em class="form__text"><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>
  <div class="form__field half-field--left">
    <%= f.label :confirmation,class:"form__subtitle" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" , class:"form__input"%>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "login-btn btn__btn btn__btn--red u-margin-bottom-smaller" %>
  </div>
<% end %>
</div>

<div class="right-side">
  <h2 class="form__title">Cancel my account</h2>

  <p class="form__subtitle">Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"cancel-btn btn__btn btn__btn--red u-margin-bottom-smaller" %></p>

  <%= link_to "Back", :back, class:"back-btn btn__link btn__link--white" %>
</div>

