<%= render 'layouts/banner' %>
<div class="form">
  <div class="u-text-centered u-margin-bottom-small">
    <h2 class="form__title">Sign Up for YelpDemo</h2>
    <h4 class="form__subtitle">Connect with great local businesses</h4>
    <p class="form__text">
      By signing up, you agree to YelpDemo’s Terms of Service and Privacy Policy.
    </p>
  </div>

  <div class="u-text-centered u-margin-bottom-small">
    <a href="#" class="oath-login oath-login__fb"><i class="fab fa-facebook-f"></i>
    Log In With Facebook</a>
    <a href="#" class="oath-login oath-login__gg"><i class="fab fa-google"></i>Log In With Google</a>
  </div>
  <p class="form__text u-text-centered">
      Don't worry, we never post without your permission.
  </p>
  <p class="seperate-line">OR</p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form__field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class:"form__input"%>
  </div>

  <div class="form__field">
    <% if @minimum_password_length %>
    <em class="form__text">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class:"form__input" %>
  </div>

  <div class="form__field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Retype Password", class:"form__input" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up",class: "login-btn u-margin-bottom-smaller" %>
  </div>
  <p class="form__text form__text--grey">
    Already on YelpDemo? <%= link_to "Log In", new_session_path(resource_name), class:"form__link" %><br />
  </p>
<% end %>
</div>
<%= image_tag 'pic-1.png', size:"382x342", class: "right-side-img"%>

