
<header class="header">
  <div class="navbar">
    <ul class="navbar__nav">
      <li class="navbar__nav-item navbar__left-side">
        <%= link_to "About", pages_about_path, class: "navbar__nav-link" %>
        <%= link_to "Contact", pages_contact_path, class: "navbar__nav-link" %>
      </li>
      <li class="navbar__nav-item navbar__right-side">
        <% if user_signed_in? %>
          <%= link_to "Edit Profile", edit_user_registration_path, class: "navbar__nav-link" %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "navbar__btn btn__link btn__link--white-border"%>
        <% else %>
          <%= link_to "Log In", new_user_session_path, class: "navbar__nav-link" %>
          <%= link_to "Sign Up", new_user_registration_path, class: "navbar__btn btn__link btn__link--white-border"%>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="header__logo-box">
    <%=image_tag("logo.png", size: "160x80")%>
  </div>
  <%= form_tag search_restaurants_path, method: :get, class: "search" do %>
    <%= text_field_tag :search, params[:search], class: "search__input"%>
    <%= submit_tag "Search", name: nil, class:"search__btn btn__btn btn__btn--red" %>
  <% end %>
</header>

<h3 class="form__title u-text-centered u-margin-top-small u-margin-bottom-small">Find Best Restaurants in Town</h3>

<% if user_signed_in? && current_user.admin? %>
  <%= link_to 'New Restaurant', new_restaurant_path, class: "btn__link btn__link--red new-btn" %>
<% end %>

<div class="cards-list">
  <% @restaurants.each do |restaurant| %>
    <div class="card">
      <% if user_signed_in? && current_user.admin? %>
          <%= link_to 'Edit', edit_restaurant_path(restaurant), class: "btn__link btn__link--red-border card__btn-1" %>
          <%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn__link btn__link--red-border card__btn-2" %>
        <% end %>
      <%=image_tag randomized_background_image, class:"card__avatar" %>
      <div class="card__name"><%= link_to restaurant.name, restaurant %></div>
      <div class="card__info"><%= restaurant.phone %></div>
      <div class="card__info"><%= link_to restaurant.website, restaurant.website %></div>
      <div class="card__info"><%= restaurant.address %></div>
    </div>
  <% end %>
</div>


<br>
<script>
  $(function () {
    $(".star-rating").rateYo({
      starWidth: "15px",
      normalFill: "#f1f1f1",
      readOnly:true
    });
  });
</script>
