
<header class="header">
  <div class="navbar">
    <ul class="navbar__nav">
      <li class="navbar__nav-item navbar__left-side">
        <%= link_to "About", pages_about_path, class: "navbar__nav-link" %>
        <%= link_to "Contact", pages_contact_path, class: "navbar__nav-link" %>
      </li>
      <li class="navbar__nav-item navbar__right-side">
        <% if user_signed_in? %>
          <%= link_to "Edit Profile", edit_user_registration_path, class: "navbar__nav-link" %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "navbar__btn btn__link btn__link--white-border"%>
        <% else %>
          <%= link_to "Log In", new_user_session_path, class: "navbar__nav-link" %>
          <%= link_to "Sign Up", new_user_registration_path, class: "navbar__btn btn__link btn__link--white-border"%>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="header__logo-box">
    <%=image_tag("logo.png", size: "160x80")%>
  </div>
  <form class="search">
    <input class="search__input" type="search" placeholder="Search" aria-label="Search">
    <button class="search__btn btn__btn btn__btn--red" type="submit">Search</button>
  </form>
</header>

<h1>Restaurants</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Website</th>
      <% if user_signed_in? && current_user.admin? %>
        <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= link_to restaurant.name, restaurant %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.phone %></td>
        <td><%= link_to restaurant.website, restaurant.website %></td>
        <% if user_signed_in? && current_user.admin? %>
          <td><%= link_to 'Edit', edit_restaurant_path(restaurant), class: "btn btn-link" %></td>
          <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-link" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? && current_user.admin? %>
  <%= link_to 'New Restaurant', new_restaurant_path, class: "btn btn-link" %>
<% end %>
<%=image_tag("footer.png", size: "960x140")%>
