<%= render "layouts/navbar-small" %>

<div class="mycontainer">
  <div class="large-gutters row">
    <div class="col-md-4">
      <h2 class="big-title"><%= @restaurant.name %></h2>
      <div class="star-rating star-rating--inline" data-rateyo-rating= <%= @avg_rating %> ></div>
      <p class="reviews-num"><%= "#{@reviews.length} reviews" %></p>
      <%= image_tag @restaurant.image_url %>
      <div class="summary u-margin-bottom-small">
        <ul class="iconed-list">
          <li class="iconed-list__item">
            <div class="iconed-list__avatar"><i class="fas fa-map-marker-alt"></i></div>
            <div class="iconed-list__info"><%= @restaurant.address %></div>
          </li>
          <li class="iconed-list__item">
            <div class="iconed-list__avatar"><i class="fas fa-phone"></i></div>
            <div class="iconed-list__info"> <%= @restaurant.phone %></div>
          </li>
          <li class="iconed-list__item">
            <div class="iconed-list__avatar"><i class="fas fa-globe-americas"></i></div>
            <div class="iconed-list__info last"><%= link_to @restaurant.website, @restaurant.website %></div>
          </li>
        </ul>
      </div>
      <iframe width="330" height="330" frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?&q=<%= @restaurant.address.parameterize %>&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>" allowfullscreen>
      </iframe>
      <%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "edit-btn btn__link btn__link--red" %> 
      <%= link_to 'Back', restaurants_path, class: "back-btn btn__link btn__link--white" %>

    </div>
        <div class="col-md-6 u-margin-top-small">
          <div class="review-btn btn__link btn__link--red u-margin-bottom-small">
            <i class="fas fa-star"></i><%= link_to 'Write a Review', new_restaurant_review_path(@restaurant), class:"style-link"%>
          </div>
          <% if @reviews.blank? %>
            <h3 class="midium-title">No reviews yet, be the first to write one!</h3>
          <% else %>
            <table class="table">
              <thead>
                <tr>
                  <th class="col-name"></th>
                  <th class="col-reviews"></th>
                </tr>
              </thead>
              <tbody>
                <% @reviews.each do |review|%>
                  <tr>
                    <td>
                      <h4>
                        <%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}." %>
                      </h4>
                      <p><%= review.created_at.strftime("%-m/%-d/%y") %></p>
                    </td>
                    <td>
                       <div class="star-rating" data-rateyo-rating= <%= review.rating %> ></div>
                       <p><%= h(review.comment).gsub(/\n/,'<br/>').html_safe %></p>

                       <% if user_signed_in? %>
                          <% if (review.user == current_user) || (current_user.admin?) %>
                            <%= link_to "Edit", edit_restaurant_review_path(@restaurant,review) %>
                            <%= link_to "Delete", restaurant_review_path(@restaurant, review), method: :delete %>
                          <% end %>
                       <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
  </div>
</div>

<script>
  $(function () {
    $(".star-rating").rateYo({
      starWidth: "30px",
      normalFill: "#f1f1f1",
      readOnly:true
    });
  });
</script>
