<%= form_with(model: [@restaurant, @review], local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="star-rating"></div>

  <div class="field">
    <%= form.label :rating,style: "display: none;"%>
    <%= form.number_field :rating, id:"score",style: "display: none;"%>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<script>
  $(function () {
    var score;
    $("#star-rating").rateYo({
      starWidth: "30px",
      normalFill: "#f1f1f1",
      fullStar: true,
      onSet: function (rating, rateYoInstance) {
        $("#score").val(rating);
      }
    });
  });
</script>
